body
  background-color black
  color #999
  font-family Arial
a
  color #8e93f5
  text-decoration none
  &:hover
    color #f0f0f0
h1
  margin 0.6em 0.5em
.items
  padding 0
.item
  list-style-type none
  a
    color #c7c8ec
    background-color #1b1b26
    border-radius 10px
    margin 4px 0.8em
    padding 1.2em
    display block
    &:hover
      color #2ae61e
      background-color #3f3f3f
